/* Variables */

$color-principal: white;
$color-background: #25074d;
$title-font: normal 70px "mako";

/* Mixin */

@mixin boton-principal {
  width: 220px;
  height: 40px;
  border-radius: 10px !important;
  border-color: $color-principal;
  background-color: #f9f7fc;
  font-weight: 500;
  font-family: poppins;
  color: $color-background;
  &:hover {
    background-color: $color-background;
    color: $color-principal;
  }
}

@mixin icono {
  width: hug;
  padding: 5px;
  margin-bottom: 10px;
  background-color: #3041b1;
  border-radius: 10px;
  width: fit-content;
}

@mixin text-item ($size,$width) {
  color: $color-principal;
  font-family: poppins;
  font-size: $size;
  max-width: $width;
}

/* HOME*/

body {
  padding: 0px;
  margin: 0px;
  background: linear-gradient(
    172deg,
    rgba(17, 34, 51, 1) 0%,
    rgba(98, 29, 209, 1) 58%,
    rgba(37, 117, 252, 0.4) 100%
  );
}
.text-nav {
  width: auto;
  color: $color-principal !important;
}
.text-nav:hover {
  color: white;
  font-weight: 500;
}
.nav-link {
  padding: 5px;
  padding-bottom: 10px;
}
.navbar-collapse {
  justify-content: end;
  width: fit-content;
}
.navbar {
  width: 100%;
}
.navbar-toggler {
  color: $color-principal;
  width: fit-content;
}
.navbar-toggler-icon {
  color: $color-principal;
}
.active {
  font-weight: bold;
  color: $color-principal;
  text-decoration: underline #d5d5d5;
}
.dropdown {
  color: $color-principal;
}
.dropdown-toggle:hover {
  color: $color-principal;
  font-weight: 500;
}
.dropdown-toggle {
  color: $color-principal;
}
.banner {
  height: auto;
  width: 100%;
  background-image: url("../../imagenes/banner.jpg");
  margin: 0px;
  background-size: cover;
  background-position: center;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  padding-bottom: 80px;
  padding-top: 80px;
  padding-left: 40px;
  padding-right: 40px;
}
.tama単o {
  max-width: 1600px;
  align-self: center;
  justify-self: center;
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
.mi-foto {
  animation: bounce 2.5s ease infinite alternate;
}
.cont-foto {
  justify-content: right;
  align-content: end;
}
.text-banner {
  align-content: center;
  justify-content: center;
  width: fit-content;
  padding-left: 40px;
}
.foto {
  justify-content: center;
  align-content: center;
  padding-left: 80px;
}

.nombre-1 {
  color: $color-principal;
  font: $title-font;
  margin: 0;
}
.nombre-2 {
  color: $color-principal;
  font: $title-font;
  margin: 0;
  width: 8ch;
  animation: typing 2s steps(10), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.text-1 {
  font-size: 40px;
}

button {
  @include boton-principal;
}
.btn-wsp {
  position: fixed;
  line-height: 63px;
  bottom: 25px;
  right: 25px;
  z-index: 100;
}

.carac-list {
  padding-top: 120px;
  padding-bottom: 120px;
  padding-left: 20px;
  padding-right: 20px;
}
.carac-list-2 {
  padding-left: 15px;
}
.caracteristicas {
  list-style: none;
  padding-bottom: 60px;
}
.icono {
  @include icono;
}
.text-item {
  @include text-item (22px,400px);
}
.text-subitem {
    @include text-item (16px,400px);
  font-weight: 180px;
}
.seccion-proyec {
  background-color: #270f55;
  padding-top: 80px;
  padding-bottom: 60px;
  align-content: center;
}
.titulo-proyectos {
  color: $color-principal;
  font-family: poppins;
  text-align: center;
  margin-bottom: 40px;
  font-size: 34px;
}
.titulo-proyec {
  color: $color-principal;
  font-family: poppins;
  margin-top: 20px;
}
.proyecto {
  list-style: none;
  padding-bottom: 40px;
  color: transparent;
  background-color: transparent;
}
.proyecto :hover {
  border-radius: 10px;
  background-color: #863aff66;
  padding-bottom: 20px;
}
.img-proyect {
  width: auto;
}
.descripcion {
  color: $color-principal;
  font-family: poppins;
  max-width: 350px;
}
.seccion-contact {
  padding: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  justify-content: center;
  align-content: center;
}
.contact {
  align-content: center;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.conversemos {
  align-content: center;
  text-align: center;
  align-items: center;
  justify-content: center;
  max-width: 400px;
}
footer {
  padding: 20px;
  background-color: $color-background;
  padding-top: 60px;
  padding-bottom: 80px;
}
.botones-footer {
  text-decoration: none;
  list-style: none;
  width: 120px;
}
.footer-boton {
  align-content: flex-start;
  text-align: start;
  margin-left: 0px;
  padding-left: 0px;
}
.text-footer {
  color: $color-principal;
}
.logo-RS {
  margin-left: 20px;
  list-style: none;
}

/* HOME*/

body{
    padding: 0px;
	margin: 0px;
    background: rgb(17,34,51);
    background: linear-gradient(172deg, rgba(17,34,51,1) 0%, rgba(98,29,209,1) 58%, rgba(37,117,252,0.4) 100%);
}
.boton{
    text-decoration: none;
    list-style: none;
    font-family: poppins;
}
.text-nav{
    width: auto;
    color: $color-principal !important;
}
.text-nav:hover{
    color: $color-principal;
    font-weight:500;
}
.navbar-collapse{
    justify-content: end;
    width: fit-content;
}
.navbar{
    width: 100%;
}
.navbar-toggler{
    color: $color-principal;
    width: fit-content;
}
.navbar-toggler-icon{
    color: $color-principal;
}
.active{
    font-weight: bold;
    text-decoration: underline;
    color: $color-principal;
}
.dropdown{
    color: $color-principal;
}
.dropdown-toggle:hover{
    color: $color-principal;
    font-weight:500;
}
.dropdown-toggle{
    color: $color-principal;
}
.banner{
    height: auto;
    width: 100%;
	background-image: url("../../imagenes/banner.jpg");
    margin: 0px;
    background-size: cover;
    background-position: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    padding-bottom: 80px;
    padding-top: 80px;
    padding-left: 40px;
    padding-right: 40px;
}
.tama単o{
    max-width: 1600px;
    align-self: center;
    justify-self: center;
}
@keyframes mi-foto {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
}
.mi-foto{
    animation: bounce 1s ease infinite alternate;
}
.cont-foto{
    justify-content: right;
    align-content: end;
}
.text-banner{
    align-content: center;
    justify-content: center;
    width: fit-content;
    padding-left: 40px;
}
.foto{
    justify-content: center;
    align-content: center;
    padding-left: 80px;
}
.nombre{
    color: $color-principal;
    font-family: mako;
    font-size: 70px;
    margin: 0;
}

button{
    width: 220px;
    height: 40px;
    border-radius: 10px !important;
    border-color: #25074D;
    background-color: #F9F7FC;
    font-weight: 500;
    font-family: poppins;
    color: #25074D;

}
button:hover{
    background-color: #25074D;
    color: $color-principal;
}
.carac-list{
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 20px;
    padding-right: 20px;
}
.carac-list-2{
    padding-left: 15px;
}
.caracteristicas{
    list-style: none;
   padding-bottom: 60px;
}
.icono{
    width: hug;
    padding: 5px;
    margin-bottom: 10px;
    background-color: #3041B1;
    border-radius: 10px;
    width: fit-content;
}
.text-item{
    color: $color-principal;
    font-family: poppins;
    font-size: 22px;
    max-width: 400px;
}
.text-subitem{
    color: $color-principal;
    font-family: poppins;
    font-size: 16px;
    font-weight: 180px;
    max-width: 400px;
}
.seccion-proyec{
    background-color: #270F55;
    padding-top: 80px;
    padding-bottom: 60px;
    align-content: center;
}
.titulo-proyectos{
    color: $color-principal;
    font-family: poppins;
    text-align: center;
    margin-bottom: 40px;
    font-size: 34px;
}
.titulo-proyec{
    color: $color-principal;
    font-family: poppins;
    margin-top: 20px;
}
.proyecto{
    list-style: none;
    padding-bottom: 40px;
    color: transparent;
    background-color: transparent;
}
.proyecto :hover{
    border-radius: 10px;
    background-color: #863AFF66;
    padding-bottom: 20px;
}
.img-proyect{
    width: auto;
}
.descripcion{
    color: $color-principal;
    font-family: poppins;
    max-width: 350px;
}
.seccion-contact{
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    justify-content: center;
    align-content: center;
}
.contact{
    align-content: center;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.conversemos{
    align-content: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    max-width: 400px;
}
footer{
    padding: 20px;
    background-color: #25074D;
    padding-top: 60px;
    padding-bottom: 80px;
}
.botones-footer{
    text-decoration: none;
    list-style: none;
    width: 120px;
}
.footer-boton{
    align-content: flex-start;
    text-align: start;
    margin-left: 0px;
    padding-left: 0px;
}
.text-footer{
    color: $color-principal;
}
.logo-RS{
    margin-left: 20px;
    list-style: none;
}

/* PORTAFOLIO*/
.banner-proyectos {
  background-image: url("../../imagenes/banner-proyectos.png");
  height: 600px;
  width: 100%;
  margin: 0px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  align-content: center;
  background-repeat: no-repeat;
}
.regresar-1 {
  margin-top: 80px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: inline-block;
  padding-left: 20px;
}
.regresar {
  margin-top: 80px;
  margin-bottom: 20px;
}
.titulo-regresar {
  color: $color-principal;
  font-size: 22px;
  width: fit-content;
  padding-left: 10px;
}
.banner-proyectos{
    background-image: url("../../imagenes/banner-proyectos.png");
    height: 600px;
    width: 100%;
    margin: 0px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    align-content: center;
    background-repeat: no-repeat;

}
.regresar{
    margin-top: 80px;
    margin-bottom: 20px;
    display: flexbox;
    flex-direction: inline-block;
}
.icon-regresar{
    display: flexbox;
    flex-direction: inline-block;
}
.titulo-regresar{
    color: $color-principal;
    font-size: 22px;
    display: flexbox;
    flex-direction: inline-block;
}

/* SOBRE MI*/

.mi-descripcion {
  margin-top: 80px;
}
.mi-imagen {
  max-width: 100%;
}
.text-1 {
  color: $color-principal;
  font-family: poppins;
  font-size: 18px;
  font-weight: 200;
  margin-top: 60px;
  margin-bottom: 10px;
  max-width: 400px;
}
.texto-banner-sobremi {
  align-content: end;
}
.contenedor-text-sobremi {
  align-content: end;
}
.titulo-M {
  display: flexbox;
  flex-direction: inline-block;
  width: fit-content;
  padding-left: 40px;
}
.titulo-E {
  color: $color-principal;
  margin-bottom: 40px;
}
.conten-info {
  background-color: #300e6666;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 20px;
  margin-bottom: 60px;
  margin-top: 40px;
  width: fit-content;
}
.separacion {
  background-color: $color-principal;
  width: 60px;
  height: 10px;
  align-self: center;
}
.list {
  align-content: center;
  justify-content: center;
  align-items: center;
}
.listas1 {
  text-decoration: none;
  list-style: none;
}
.listas2 {
  text-decoration: none;
  list-style: none;
  margin-top: 20px;
  margin-bottom: 20px;
}
.list-a単o {
  color: $color-principal;
  min-width: 300px;
}
.list-inst {
  color: $color-principal;
}
.mi-descripcion{
    margin-top: 80px;
}
.mi-imagen{
    max-width: 100%;
}
.text-1{
    color: $color-principal;
    font-family: poppins;
    font-size: 18px;
    font-weight: 200;
    margin-top: 60px;
    margin-bottom: 10px;
    max-width: 400px;
}
.texto-banner-sobremi{
    align-content: end;
}
.contenedor-text-sobremi{
    align-content: end;
}
.titulo-M{
    display: flexbox;
    flex-direction: inline-block;
    width: fit-content;
    padding-left: 40px;
}
.titulo-E{
    color: $color-principal;
    margin-bottom: 40px;
}
.conten-info{
    background-color: #300E6666;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 20px;
    margin-bottom: 60px;
    margin-top: 40px;
    width: fit-content;
}
.separacion{
    background-color: $color-principal;
    width: 60px;
    height: 10px;
    align-self: center;
}
.list{
    align-content: center;
    justify-content: center;
    align-items: center;
}
.listas1{
    text-decoration: none;
    list-style: none;
}
.listas2 {
    text-decoration: none;
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
}
.list-a単o{
    color: $color-principal;
    min-width: 300px;
}
.list-inst{
    color: $color-principal;
}

/* CONTACTAME*/

.titulo-proyectos {
  color: $color-principal;
  font-family: poppins;
}
.dividido-color {
  background-color: #3c1682;
}
.text-title {
  color: $color-principal;
  margin-top: 40px;
  margin-bottom: 30px;
  align-content: center;
}
.form-all {
  list-style: none;
  margin-left: 0px;
  padding-left: 0px;
  margin-bottom: 40px;
  align-content: start;
  max-width: 400px;
}
.form-list {
  color: $color-principal;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.content-contacto {
  justify-content: start;
  align-content: start;
}

/* BREAKPOINTS*/

/* Large devices (desktops, less than 1200px) */
@media only screen and (max-width: 1199px) {
}

/* Medium devices (tablets, less than 992px) */
@media only screen and (max-width: 900px) {
  .imagen-1 {
    width: 400px;
  }
  .logo {
    align-content: center;
    justify-content: center;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media only screen and (max-width: 767px) {
  .imagen-3 {
    width: 340px;
  }
  .img-proyect {
    width: 200px;
  }
  .imagen-mensaje {
    width: 20 0px;
  }
  .mi-foto {
    width: 350px;
  }
  .carac-list {
    padding-left: 5px;
    padding-right: 5px;
  }
  .mi-imagen {
    max-width: 450px;
  }
  .listas1 {
    width: 200px;
  }
  .text-1 {
    margin-left: 20px;
    margin-right: 20px;
  }
  .imagen-mensaje {
    width: 340px;
  }
  .logo {
    align-content: center;
    justify-content: center;
  }
}

/* Extra small devices (portrait phones, less than 576px)*/
@media only screen and (max-width: 575px) {
  .footer-contenido {
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  .logo {
    align-content: center;
    justify-content: center;
  }
  .imagen-3 {
    width: 240px;
  }
  .mi-foto {
    width: 250px;
  }
  .banner {
    padding: 0;
    padding-bottom: 80px;
    padding-top: 80px;
    justify-content: center;
    text-align: center;
  }
  .nombre-1 {
    font-size: 50px;
  }
  .nombre-2 {
    font-size: 50px;
  }
  .imagen-1 {
    width: 300px;
  }
  .mi-imagen {
    max-width: 280px;
  }
  .imagen-mensaje {
    width: 280px;
  }
}

.titulo-proyectos{
    color: $color-principal;
    font-family: poppins;
}
.dividido-color{
    background-color: #3C1682;
    padding: 20px;
}
.text-title{
    color: $color-principal;
    margin-top: 40px;
    margin-bottom: 30px;
    align-content: center;
}
.form-all{
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
    margin-bottom: 40px;
    align-content: start;
    max-width: 400px;
}
.form-list{
    color: $color-principal;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.content-contacto{
    justify-content: start;
    align-content: start;
}


/* BREAKPOINTS*/

/* Large devices (desktops, less than 1200px) */
@media only screen and (max-width: 1199px){

}

/* Medium devices (tablets, less than 992px) */
@media only screen and (max-width: 900px){
    .imagen-1{
        width: 400px;
    }
    .logo{
        align-content: center;
        justify-content: center;
    }

}

/* Small devices (landscape phones, less than 768px) */
@media only screen and (max-width: 767px){
    .imagen-3{
        width: 340px;
    }
   .img-proyect{
    width: 200px;
   }
   .imagen-mensaje{
    width: 20  0px;
   }
   .mi-foto{
    width: 350px;
}
.carac-list{
    padding-left: 5px;
    padding-right: 5px;
}
.mi-imagen{
    max-width: 450px;
}
.listas1 {
    width: 200px;
}
.text-1{
    margin-left: 20px;
    margin-right: 20px;
}
.imagen-mensaje{
    width: 340px;
}
.logo{
    align-content: center;
    justify-content: center;
}
}

/* Extra small devices (portrait phones, less than 576px)*/
@media only screen and (max-width: 575px){

    .footer-contenido {
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    .logo{
        align-content: center;
        justify-content: center;
    }
    .imagen-3{
        width: 240px;
    }
    .mi-foto{
        width: 250px;
    }
    .banner{
        padding: 0;
        padding-bottom: 80px;
        padding-top: 80px;
        justify-content: center;
        text-align: center;
    }
    .nombre{
        font-size: 50px;
    }
    .imagen-1{
        width: 300px;
    }
    .mi-imagen{
        max-width: 280px;
    }
    .imagen-mensaje{
        width: 280px;
    }
}
